<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    
    <a class="navbar-brand" href="#">
        <img src="~/image/MyBiciShop-Logo.jpg" width="120" height="120" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-lg btn-outline-secondary" href="/Home/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-lg btn-outline-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Archivo
                </a>
                <div class="dropdown-menu btn btn-lg btn-outline-light" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Brands/Index">Brand</a>
                    <a class="dropdown-item" href="/Categories/Index">Category</a>
                    <a class="dropdown-item" href="/Customers/Index">Customer</a>
                    <a class="dropdown-item" href="/Products/Index">Product</a>
                    <a class="dropdown-item" href="/Staffs/Index">Staff</a>
                    <a class="dropdown-item" href="/Stocks/Index">Stock</a>
                    <a class="dropdown-item" href="/Stores/Index">Store</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Users/Index">Users</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-lg btn-outline-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pedidos
                </a>
                <div class="dropdown-menu btn btn-sm btn-outline-light" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Orders/Index">Listado de Ordenes</a>
                    <a class="dropdown-item" href="/Orders/NewOrder">Nueva Order</a>

                </div>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
        @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
    </div>
</nav>
